.CompletedChallangesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2.5rem 0;
    padding: bottom;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.CompletedChallangesContainer span:first-child {
    font-size: 1.25rem;
}

.CompletedChallangesContainer span:last-child {
    font-size: 1.5rem;
}